
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pill-title{
    justify-self: center;
    margin: 0;
    display: flexbox;
    font-size: 3em;
}

.pill-left {
    display: flex;
    background-image: linear-gradient(to bottom, rgb(61, 4, 4), rgb(129, 5, 5));
    border-bottom-left-radius: 30%;
    border-top-left-radius: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
    width: 30%;
    transition: all 0.05s ease-in;
    margin: 5% 0px;
}
.pill-right {
    display: flex;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255));
    border-bottom-right-radius: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
    border-top-right-radius: 30%;
    width: 30%;
    min-height: 200px;
    transition: all 0.05s ease-in;
    margin: 5% 0px;
}

.excerpt {
    align-self: center;
    margin: 0 10px;
    font-size: 3em;
}

.opened1 {
    transform: rotate(-10deg);
}
.opened2{
    transform: rotate(10deg);
}