body {
  background: url('./assets/back.jpg') no-repeat fixed center;
  height: 100%;
}


  
body::before{
  content: '';
  background: rgba(0, 0, 0, 0.671);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
 }


